:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #fff;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --background-white-color: #f5f4fa;
  --primary-grey-color: #2f303a;
}

body {
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* header */

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo .accent {
  color: #000;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.nav-list .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .current-link {
  color: var(--accent-color);
}

.nav-list .link:hover,
.nav-list .link:focus,
.contacts-list .link:hover,
.contacts-list .link:focus,
.foot-contacts-list .link:hover,
.foot-contacts-list .link:focus {
  color: var(--accent-color);
}

.contacts-list .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* main */

.hero {
  background-color: var(--primary-grey-color);
}

.hero-title {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--white-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.hero .button:hover {
  background-color: var(--button-hover-color);
}

.pecs-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.pecs-list .text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.17;
}

.work-title,
.pecs-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--background-white-color);
}

.team-item {
  background-color: var(--white-text-color);
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .position {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
}

/* main portfolio */

.filters-list .button {
  color: var(--primary-text-color);
  background-color: var(--background-white-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
}

.filters-list .active-button {
  color: var(--white-text-color);
  background-color: var(--accent-color)
}

.filters-list .button:hover,
.filters-list .button:focus,
.filters-list .button:active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.examples-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.button-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* footer */

.footer {
  background-color: var(--primary-grey-color);
}

.footer-logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;  
}

.footer-logo .accent {
  color: #fff;
}

.address {
  color: var(--white-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.foot-contacts-list .link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.17;
}
